[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
coverage = ">=4.5.3"
hypothesis = ">=4.11.6"
pytest-cov = ">=2.6.1"
pytest = ">=4.3.1"

[requires]
python_version = "3.7"
